USE [master]
GO
/****** Object:  Database [iris]    Script Date: 30.06.2022 08:29:29 ******/
CREATE DATABASE [iris]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iris', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\iris.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'iris_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\iris_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iris].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iris]
GO
/****** Object:  Table [dbo].[IRIS]    Script Date: 30.06.2022 08:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IRIS](
	[sepal_length] [float] NOT NULL,
	[sepal_width] [float] NOT NULL,
	[petal_length] [float] NOT NULL,
	[petal_width] [float] NOT NULL,
	[species] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
